@model IEnumerable<SistemaInventarioCore.Models.BodegaProducto>

@{
    ViewData["Title"] = "Stock de Productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-xl">
    <h1 class="text-center my-4 fw-bold">Stock de Productos</h1>

    <div class="d-md-flex justify-content-end mb-3">
        <a asp-action="NuevoInventario" class="btn btn-primary"> <i class="fa-regular fa-plus"></i> Nuevo Inventario</a>
    </div>


    <div class="table-responsive shadow p-2 rounded bg-white">
        <table id="tblDato" class="table table-striped w-100">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(b => b.Bodega.Nombre)</th>
                    <th>@Html.DisplayNameFor(b => b.Producto.Nombre)</th>
                    <th>@Html.DisplayNameFor(b => b.Producto.Costo)</th>
                    <th class="text-end">@Html.DisplayNameFor(b => b.Cantidad)</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/inventario.js"></script>
}


