@model SistemaInventarioCore.Models.ViewsModels.InventarioVM
@{
    ViewData["Title"] = "Nuevo Inventario";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var titulo = "Crear Nuevo Inventario";
}


<div class="container-xl">
    <div class="row mt-5">
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>

            <input asp-for="Inventario.Estado" hidden />
            <input asp-for="Inventario.UsuarioAplicacionId" hidden />
            <input asp-for="Inventario.FechaInicial" hidden />
            <input asp-for="Inventario.FechaFinal" hidden />

            <div class="col-12 col-lg-6 offset-lg-3">
                <div class="card bg-white shadow">
                    <div class="card-header bg-primary p-5 text-center p-md-2 text-md-start">
                        <h5 class="text-white"> <i class="fa-solid fa-file-circle-plus"></i> @titulo</h5>
                    </div>
                    <div class="card-body">
                        <div class="mb-2">
                            <label class="form-label text-uppercase text-muted fw-bold">Bodega</label>
                            <select asp-for="Inventario.BodegaId" asp-items="@Model.BodegaLista" class="form-select">
                                <option disabled selected>-- Seleccione una Bodega</option>
                            </select>
                        </div>

                        <div>
                            <button type="submit" class="btn btn-success"> <i class="fa-solid fa-floppy-disk"></i> Guardar</button>
                            <a asp-action="Index" class="btn btn-outline-secondary"> <i class="fa-solid fa-arrow-left-long"></i> Atras</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


@*<form method="post">
    <div style="padding-left:15%; padding-right:15%; padding-bottom: 0.5rem;">
        <div class="row border-0">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>

        <input asp-for="Inventario.Estado" hidden />
        <input asp-for="Inventario.UsuarioAplicacionId" hidden />
        <input asp-for="Inventario.FechaInicial" hidden />
        <input asp-for="Inventario.FechaFinal" hidden />

        <div class="col-12 border-bottom p-0">
            <h2 class="text-primary">@titulo</h2>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <label>Bodega</label>
                <select asp-for="Inventario.BodegaId" asp-items="@Model.BodegaLista" class="form-select">
                    <option disabled selected>-- Seleccione una Bodega</option>
                </select>
                <span asp-validation-for="Inventario.BodegaId" class="text-danger"></span>
            </div>
        </div>

        <div class="d-grid gap-2 d-md-block">
            <button type="submit" class="btn btn-primary">Continuar</button>
            <a asp-action="Index" class="btn btn-success"> Salir</a>
        </div>

    </div>


</form>*@


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}