@page
@using SistemaInventarioCore.Utilidades;
@model RegisterModel
@{
    ViewData["Title"] = "Registrarse";
}

<div class="container-xl">
    <h1 class="text-center my-4">@ViewData["Title"]</h1>
    <div class="row">
        <div class="col-lg-8 offset-lg-2 shadow rounded p-3 bg-white">
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Nombre" class="form-control" autocomplete="username" aria-required="true" placeholder="Nombre de usuario" />
                            <label asp-for="Input.Nombre"></label>
                            <span asp-validation-for="Input.Nombre" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-12 col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Apellido" class="form-control" autocomplete="username" aria-required="true" placeholder="Apellido de usuario" />
                            <label asp-for="Input.Apellido"></label>
                            <span asp-validation-for="Input.Apellido" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.Direccion" class="form-control" autocomplete="username" aria-required="true" placeholder="Direccion" />
                    <label asp-for="Input.Direccion"></label>
                    <span asp-validation-for="Input.Direccion" class="text-danger"></span>
                </div>

                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Ciudad" class="form-control" autocomplete="username" aria-required="true" placeholder="Ciudad" />
                            <label asp-for="Input.Ciudad"></label>
                            <span asp-validation-for="Input.Ciudad" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-12 col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Pais" class="form-control" autocomplete="username" aria-required="true" placeholder="Pais" />
                            <label asp-for="Input.Pais"></label>
                            <span asp-validation-for="Input.Pais" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Ej@hotmail.com" />
                            <label asp-for="Input.Email"></label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-12 col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="Input.PhoneNumber" class="form-control" autocomplete="username" aria-required="true" placeholder="Telefono" />
                            <label asp-for="Input.PhoneNumber"></label>
                            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                @if (User.IsInRole(DS.Role_Admin))
                {
                    <div class="form-floating mb-3">
                        <select asp-for="Input.Role" asp-items="@Model.Input.ListaRol" class="form-select">
                            <option selected disabled>Seleccione Rol</option>
                        </select>
                        <label asp-for="Input.Role"></label>
                    </div>
                }

                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button id="registerSubmit" type="submit" class="w-100 btn btn-primary">Register</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
